[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-bootstrap-bare"]
	path = themes/hugo-bootstrap-bare
	url = https://gitlab.com/pixlsus/hugo-bootstrap-bare.git
	branch = bootstrap5
	ignore = dirty
